@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

*,
*:after,
*:before {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  box-sizing: border-box;
  font-size: 95%;
  font-weight: 300;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ::marker {
  font-size: 5rem;
  line-height: 2;
  color: #fff;
} */
